<h1>Users</h1>  
      
      <div>   
        <%= link_to 'Add User', users_new_path %>   
      </div>   
      <br>   
      
     <table class="table">   
       <tr>   
        <th>ID</th>   
        <th>Username</th>   
        <th>Instructors ID</th>
        <th>Players ID</th>  
          
      </tr>   
       
      <% @users.each do |user| %>   
          <tr>   
            <td><%= user.id %></td>   
            <td><%= link_to user.username, user_path(user) %></td>   
            <td><%= user.instructors_id %></td> 
            <td><%= user.players_id %></td>
           </tr>   
      <% end %>   
    </table>  
