<h1>Users</h1>  

<% if notice %>
  <div id="notice" class="alert alert-success" role="alert" style="color: white">
    <%= notice %>
  </div>
<% end %>

      <div>   
        <%= link_to 'Add User', new_user_path %>   
      </div>   
      <br>   
      
     <table class="table">   
       <tr>   
        <th>ID</th>   
        <th>Username</th>   
        <th>Instructors ID</th>
        <th>Players ID</th>  
          
      </tr>   
       
      <% @users.each do |user| %>   
          <tr>   
            <td><%= user.id %></td>   
            <td><%= link_to user.username, user_path(user) %></td>   
            <td><%= user.instructors_id %></td> 
            <td><%= user.players_id %></td>
            <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           </tr>   
      <% end %>   
    </table>  
