<%= form_with(model: @user) do |f| %>   
    <% if @user.errors.any? %>
    <p>User not saved!</p>
    <ul>
    <% @user.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
      </ul>
    <% end %>
        
    <h3>Add a User</h3>   

    <div class="field">   
        <%= f.label :username %>   
          <%= f.text_field :username %>   
    </div>   

    <div class="field">   
         <%= f.label :instructors_id %>   
         <%= f.number_field :instructors_id %>   
    </div>   

    <div class="field">   
       <%= f.label :players_id %>   
          <%= f.number_field :players_id %>   
    </div>   
     </p>   
  </div>   
  <div class="actions">   
    <%= link_to 'Back', users_path %>   
    <%= f.submit 'Create User' %>   
  </div>   
<% end %>   
</div>  